# --- Python Junk ---
__pycache__/
*.py[cod]

# --- Virtual Env ---
venv/
env/

# --- Ignore Large Models ---
models/*.joblib
models/*.pkl
models/*.rds

# --- IDE Settings ---
.vscode/
.idea/

# data will be saved